@import './base.css';

#app {
  font-weight: normal;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.1s;
  padding: 3px;
  border-radius: 6px;
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.p-select-option {
  font-size: var(--text-size-a) !important;
}

.flex {
  display: flex;
  align-items: center;
}

.p-dialog-header,
.p-dialog-footer {
  padding: 1rem !important;
}

.p-dialog-content {
  padding: 0 1.5rem !important;
}

.p-dialog-title {
  font-size: var(--text-size-b) !important;
}

.p-button {
  font-size: var(--text-size-a) !important;
}

.p-message-icon {
  font-size: var(--text-size-b) !important;
  display: flex !important;
  align-items: center !important;
}

.p-message-text {
  font-size: var(--text-size-a) !important;
}
