@import './base.css';

#app {
  font-weight: normal;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.red {
  color: var(--red-a);
}

.green {
  color: var(--green-a);
}

.gray{
  color: var(--text-b);
}

.cyan{
  color: var(--cyan-a);
}

.blue{ 
  color: var(--blue-a);
}

.primary{ 
  color: var(--blue-a);
}

.p-select-label {
  font-size: var(--text-size-1) !important;
}

.p-select-option {
  font-size: var(--text-size-1) !important;
}

.p-rating-icon {
  width: 12px !important;
  height: 12px !important;
}

.p-dialog-header {
  border-bottom: 1px solid var(--border-a);
}

.p-dialog {
  border: none !important;
}

.p-dialog-footer {
  border-top: 1px solid var(--border-a);
}

.p-dialog-title {
  font-size: var(--text-size-b) !important;
}

.p-drawer-title {
  font-size: var(--text-size-c) !important;
}

.p-message-text {
  font-size: var(--text-size-1) !important;
  text-align: start;
}

.p-message-icon{
  font-size: var(--text-size-b) !important;
} 

.p-drawer-header{
  padding: 1rem 1.5rem !important; 
}

.p-drawer-title{
  font-size: var(--text-size-c) !important;
}

.p-inputtext, .p-textarea{
  font-size: var(--text-size-1) !important;
}

.p-button-label {
  font-size: var(--text-size-1);
  color: inherit;
}

.p-tooltip {
  font-size: var(--text-size-0);
}

.p-overflow-hidden{
  padding-right: 15px !important;
}

.p-overlay-mask{
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.p-overlaybadge {
  position: relative;
  align-items: center;
  display: flex;
}

.p-badge{
  font-size: 9px !important;
}

.best{
  background: var(--background-c);
}
